bin/
obj/
structuremap.2.6.4.1
Castle.Core.3.2.0
Castle.Windsor.3.2.0
DotNetZip.1.9.1.8
EntityFramework.6.0.0
EPiServer.CMS.7.7.1
EPiServer.CMS.Core.7.7.1
EPiServer.CMS.UI.7.8.2
EPiServer.CMS.UI.Core.7.8.2
EPiServer.CMS.UI.Sources.7.19.1
EPiServer.Framework.7.7.1
EPiServer.Packaging.3.1.4
EPiServer.Packaging.UI.3.1.4
log4net.1.2.10
Microsoft.AspNet.Mvc.4.0.20710.0
Microsoft.AspNet.Providers.Core.2.0.0
Microsoft.AspNet.Razor.2.0.20710.0
Microsoft.AspNet.WebPages.2.0.20710.0
Microsoft.Web.Infrastructure.1.0.0.0
Newtonsoft.Json.5.0.8
NuGet.Core.2.5.0
*.suo
